{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}base.twig{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{{ path('home') }}">Home</a><br>
      <a href="{{ path('base-home') }}">Same page but only on base twig</a><br>
      <a href="{{ path('getter', {'name': 'Evgenii Shiliaev'}) }}">Getter (Evgenii Shiliaev)</a><br>
      <a href="{{ path('lower') }}">Any -> lower</a><br>
      <a href="{{ path('debug') }}">dump(array)</a><br>
    </nav>
    <main>{% block body %}{% endblock %}</main>
  </body>
</html>
